.DS_Store
TAGS

*.pyc
*.pyo
*~
.#*

# Why doesn't this work?!
*.mode1v3
*.pbxuser

tom.mode1v3
tom.pbxuser

projects/slow/Builds/MacOSX/Slow.xcodeproj/tom.*
projects/*/Builds/MacOSX/build
!projects/*/Builds/VisualStudio2008/Slow.*
