.DS_Store
TAGS

*.pyc
*.pyo
*~
.#*
*.zip

# Why doesn't this work?!
*.mode1v3
*.pbxuser

*/*.mode1v3
*/*.pbxuser

tom.mode1v3
tom.pbxuser

projects/slow/Builds/MacOSX/SlowGold 8.xcodeproj/tom.*
projects/slow/Builds/MacOSX/SlowGold 8.xcodeproj/tom.mode1v3

projects/*/Builds/MacOSX/build
!projects/*/Builds/VisualStudio2008/Slow.*
